<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>วัตถุประสงค์บทที่ 9</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="container">
		<div class="row button-group-area">
			<div class="col">
				<a href="/selectlesson" class="genric-btn default circle">ย้อนกลับ</a>
			</div>
			<div class="col-9 float-center">
				<a href="/" class="genric-btn danger circle">ออกจากระบบ</a>
			</div>
			<div class="col">
			</div>
		</div>
	</div>
	<hr>
	<!--================Contact Area =================-->
    <section>
		<div class="row justify-content-md-center">
			<div class="jumbotron col-lg-8 col-sm-8">
				<h2>วัตถุประสงค์</h2>
				<hr>
				<div>
					<ol class="ordered-list">
						<li><span>a</span></li>
						<li><span>b</span></li>
						<li><span>c</span>
							<ol class="ordered-list-alpha">
								<li><span>d</span>
									<ol class="ordered-list-roman">
										<li><span>e</span></li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</div>
				<hr>
				<a class="btn btn-primary btn-lg" href="#" role="button">เข้าสู่บทเรียน</a>
			</div>
		</div>
    </section>
    <!--================Contact Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
