<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>บทที่ 8</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a href="/detail08" class="genric-btn default circle">ย้อนกลับ</a>
    <span>Home</span>
    <h4>
      ชื่อ-สกุล : <%= sess.name %>
    </h4>
    <h4>
      รหัสประจำตัวนักเรียน : <%= sess.student_number %>
    </h4>
    <a href="/logout" class="genric-btn danger circle">ออกจากระบบ</a>
  </nav>
  <br>
	<!-- Start Align Area -->
			<div class="whole-wrap">
				<div class="container">
					<h2 class="text-center">บทที่ 8</h2>
					<div class="section-top-border">
						<div class="row">
							<div class="col-3">
								<div class="list-group" id="list-tab" role="tablist">
									<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">เนิ้อหา</a>
									<a class="list-group-item list-group-item-action" id="list-test-list" data-toggle="list" href="#list-test" role="tab" aria-controls="test">แบบทดสอบ</a>
								</div>
							</div>
							<div class="col-9">
								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
										<p>๗. สัทพจน์ (Onomatopoeia) คือ ภาพพจน์เปรียบเทียบโดยใช้คำเลียนเสียงสัตว์ หรือ ธรรมชาติ ไม่ว่าจะเป็น เสียงดนตรี เสียงของสัตว์ หรือเสียงกิริยาอาการต่าง ๆ ของมนุษย์ เช่น
										<p class="text-center">ยูงทองร้องกระโต้งโห่งดัง เพียงฆ้องกลองระฆัง</p>
										<p class="text-center">แตรสังข์กังสดาลขานเสียง</p>
										<p class="text-right">(กาพย์พระไชยสุริยา: สุนทรภู่)</p>
										<p>จากบทประพันธ์ข้างต้นผู้แต่งได้ใช้คำบอกเสียงร้องของนกยูงที่ร้องว่า “กระโต้งโห่ง” เป็นการเลียนแบบเสียงของนกยูง</p>
									</div>
									<div class="tab-pane fade" id="list-test" role="tabpanel" aria-labelledby="list-test-list">
										<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe-eXJhNY60xvz4TGG-WLujEc59svSbBzbAmBhNIHAGIA7XjA/viewform?embedded=true" width="800" height="3820" frameborder="0" marginheight="0" marginwidth="0">กำลังโหลด…</iframe>
										<div class="button-group-area text-right">
											<a href="/lesson08-1" class="genric-btn default">ต่อไป(1)</a>
											<a href="/lesson08-2" class="genric-btn primary">ต่อไป(2)</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

    <!--================Footer Area =================-->
	<footer class="footer_area section_gap_top">
		<div class="container">
			<div class="row single-footer-widget">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="copy_right_text">
						<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="social_widget">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>

