<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>ทดสอบหลังเรียน</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="container">
		<div class="row button-group-area">
			<div class="col">
				<a href="/selectlesson" class="genric-btn default circle">ย้อนกลับ</a>
			</div>
			<div class="col-9 float-center">
				<a href="/" class="genric-btn danger circle">ออกจากระบบ</a>
			</div>
			<div class="col">
			</div>
		</div>
	</div>
	<!--================Contact Area =================-->
    <section>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2>แบบทดสอบหลังเรียน</h2>
				</div>
			</div>
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdNKPXfYsbsE2NPo0e9332jlTVxtDIUHNzAhltZwNVZIVB17w/viewform?embedded=true" width="640" height="532" frameborder="0" marginheight="0" marginwidth="0">กำลังโหลด…</iframe>
			<div class="row justify-content-md-center">
				<div class="col-4">
					<button type="button" class="btn btn-success btn-lg btn-block">ทดสอบก่อนเรียน</button>
					<button type="button" class="btn btn-success btn-lg btn-block">บทที่ 1</button>
					<button type="button" class="btn btn-success btn-lg btn-block">บทที่ 2</button>
					<button type="button" class="btn btn-danger btn-lg btn-block">บทที่ 3</button>
					<button type="button" class="btn btn-secondary btn-lg btn-block">บทที่ 4</button>
					<button type="button" class="btn btn-secondary btn-lg btn-block">บทที่ 5</button>
				</div>
			</div>
		</div>
    </section>
    <!--================Contact Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
