<footer class="footer_area section_gap_top">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                    <h4>เว็บไซต์</h4>
                    </div>
                    <ul>
                        <li><a href="#">หน้าแรก</a></li>
                        <li><a href="#">รายละเอียดเว็บไซต์</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>สำหรับนักเรียน</h4>
                    </div>
                    <ul>
                        <li><a href="#">ระบบสมาชิก</a></li>
                        <li><a href="#">เข้าสู่ระบบการเรียน</a></li>
                        <li><a href="#">ตรวจสอบผลการเรียน</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>ติดต่อเรา</h4>
                    </div>
                    <ul>
                        <li><a href="#">ผู้พัฒนา</a></li><a href="#">
                        <li><a href="#">แจ้งปัญหา</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="row single-footer-widget">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="copy_right_text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="social_widget">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>