<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>การดูแลระบบการเรียน</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<a href="/logout" class="genric-btn default circle">ย้อนกลับ</a>
		<h4>ยินดีต้อนรับ อาจารย์ <%= sess.name %></h4>
		<a href="/logout" class="genric-btn danger circle">ออกจากระบบ</a>
	</nav>
	<br>
	<!--================Contact Area =================-->
    <div class="whole-wrap">
		<div class="container">
			<div class="section-top-border">
				<h3 class="text-center">ภาพรวมระบบการเรียน</h3>
				<hr>
				<div class="row">
					<div class="col-4">
						<div class="list-group">
							<a href="managecourse" class="list-group-item list-group-item-action">
								จัดการบทเรียน<!--span class="badge badge-primary badge-pill">14</span-->
							</a>
							<a href="/managereport" class="list-group-item list-group-item-action">
								ปัญหาที่แจ้งเข้ามา<!--span class="badge badge-primary badge-pill">22</span-->
							</a>
							<a href="/logout" class="list-group-item list-group-item-action">ออกจากระบบ</a>
						</div>
					</div>
					<div class="col-8">
						<div class="comment-form text-center">
							<h4>จัดการส่วนการเรียน</h4>
							<form class="form-inline" action="set-lesson" method="post">
								<label class="my-1 mr-2" for="selectlesson">ส่วนการเรียนที่ต้องการเปิด</label>
								<select class="custom-select my-1 mr-sm-2" id="selectlesson" name="lessonstate">
									<option selected>เลือกส่วนที่ต้องการเปิด..</option>
									<option value="0">ทดสอบก่อนเรียน</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">ทดสอบหลังเรียน</option>
									<option value="12">แบบประเมิน</option>
									<option value="13">จบการเรียนการสอน</option>
								</select>
								<button type="submit" class="btn btn-primary my-1">ยืนยันการเลือก</button>
							</form>
						</div>
						<div class="comment-form">
                            <h4>สร้างประกาศใหม่</h4>
                            <form action="post-announce" method="post">
								<div class="form-group">
                                    <input type="text" class="form-control" name="topic" placeholder="หัวข้อ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'หัวข้อ'">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="detail" placeholder="เนื้อหา" onfocus="this.placeholder = ''" onblur="this.placeholder = 'เนื้อหา'" required=""></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary my-1">ลงประกาศ</button>	
                            </form>
                        </div>

						<div class="comment-form">
                            <h4>สร้างผู้ใช้ใหม่</h4>
                            <form action="addaccounts" method="post">
								<div class="form-group">
                                    <input type="text" class="form-control" name="id" placeholder="รหัส" onfocus="this.placeholder = ''" onblur="this.placeholder = 'รหัส'">
                                </div>
								<div class="form-group">
                                    <input type="text" class="form-control" name="password" placeholder="รหัสผ่าน" onfocus="this.placeholder = ''" onblur="this.placeholder = 'รหัสผ่าน'">
                                </div>
								<div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="ชื่อ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ขื่อ'">
                                </div>
								<div class="form-group">
                                    <input type="text" class="form-control" name="surname" placeholder="นามสกุล" onfocus="this.placeholder = ''" onblur="this.placeholder = 'นามสกุล'">
                                </div>
                                <button type="submit" class="btn btn-primary my-1">สร้างผู้ใช้</button>	
                            </form>
                        </div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
    <!--================Contact Area =================-->
	

    <!--================Footer Area =================-->
	<%- include('../partials/footeruser.ejs'); -%>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
