<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>ดูแลบทที่ 1</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<a href="/adminindex" class="genric-btn default circle">ย้อนกลับ</a>
		<h4>ยินดีต้อนรับ อาจารย์ <%= sess.name %></h4>
		<a href="/logout" class="genric-btn danger circle">ออกจากระบบ</a>
	</nav>
	<br>
	<!--================Contact Area =================-->
	<h3 class="text-center">กระทู้บทที่ 1 แยกตามขั้นตอน</h3>
	<hr>
	<div class="row justify-content-md-center">
		<div class="row col-lg-6">
			<div class="col-lg-6">
				<div class="media post_item">
					<img src="img/blog/popular-post/post1.jpg" alt="post">
					<div class="media-body">
						<a href="manage01-1"><h3>กระทู้ขั้นที่ 1</h3></a>
					</div>
				</div>
				<div class="media post_item">
					<img src="img/blog/popular-post/post2.jpg" alt="post">
					<div class="media-body">
						<a href="manage01-2"><h3>กระทู้ขั้นที่ 2</h3></a>
					</div>
				</div>

			<div class="col-lg-6">
				<div class="media post_item">
					<img src="img/blog/popular-post/post1.jpg" alt="post">
					<div class="media-body">
						<a href="manage01-3"><h3>กระทู้ขั้นที่ 3</h3></a>
					</div>
				</div>
				<div class="media post_item">
					<img src="img/blog/popular-post/post2.jpg" alt="post">
					<div class="media-body">
						<a href="manage01-4"><h3>กระทู้ขั้นที่ 4</h3></a>
					</div>
				</div>
			</div>
		</div>
    </div>
	<br>
    <!--================Contact Area =================-->
	
    <!--================Footer Area =================-->
	<%- include('../partials/footeruser.ejs'); -%>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
