<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="img/favicon.png" type="image/png">
		<title>บทที่ 1</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="vendors/linericon/style.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
		<link rel="stylesheet" href="vendors/animate-css/animate.css">
		<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
		<!-- main css -->
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
			<a href="/detail01" class="genric-btn default circle">ย้อนกลับ</a>
			<span>Home</span>
			<h4>ชื่อ-สกุล : <%= sess.name %></h4>
			<h4>รหัสประจำตัวนักเรียน : <%= sess.student_number %></h4>
			<a href="/logout" class="genric-btn danger circle">ออกจากระบบ</a>
		</nav>
		<br>
	<!-- Start Align Area -->
			<div class="whole-wrap">
				<div class="container">
					<h2 class="text-center">เรียนรู้เพิ่มเติมบทที่ 1 ครั้งที่ 1</h2>
					<div class="section-top-border">
						<div class="row">
							<div class="col-3">
								<div class="list-group" id="list-tab" role="tablist">
									<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">เนิ้อหาบทเรียน</a>
									<a class="list-group-item list-group-item-action" id="list-learn1-list" data-toggle="list" href="#list-learn1" role="tab" aria-controls="test">วิดิโอเนิ้อหา</a>
								</div>
							</div>
							<div class="col-9">
								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
										<h3 class="text-center">ความรู้เรื่องภาพพจน์</h3>
										<p>หากนำคำว่าภาพพจน์มาแยกและให้ความหมาย</p> 
										<p>&emsp;<b>ภาพ</b> หมายถึง สิ่งที่เป็นรูปธรรมหรือสิ่งที่รู้ได้ทางตา หู จมูก ลิ้น กาย อันได้แก่ รูป เสียง กลิ่น รส และสิ่งที่สามารถสัมผัสได้ด้วยกาย</p>
										<p>&emsp;<b>พจน์</b> หมายถึง คำพูด, ถ้อยคำ</p>
										<p>&emsp;ดังนั้นหากแปลตามความหมายข้างต้น ภาพพจน์ จะหมายถึง คำพูดหรือถ้อยคำที่สามารถรับรู้ได้ทางการมองเห็น การได้ยินเสียง การได้กลิ่น การรับรู้รส หรือรู้สึกถึงการสัมผัสได้</p>
										<p>ตัวอย่าง</p>
										<p>&emsp;หากเราจะบอกว่า กระเป๋าของเราสีเหลือง ผู้ฟังอาจจะทราบว่าเป็นสีเหลือง แต่จะไม่ชัดเจนว่าเป็นสีเหลืองแบบใด เราอาจจะต้องใช้คำเปรียบเทียบ เช่น กระเป๋าสีเหลืองเหมือนขมิ้น ผู้ฟังก็จะนึกถึงภาพขมิ้นขึ้นมาในความคิดสิ่งนี้เรียกว่ามโนภาพ แล้วนำสีของขมิ้นที่เกิดขึ้นในความคิดมาเป็นสีของกระเป๋าที่เราพูดถึง</p>
										<p>&emsp;หรือเราไปได้ยินเสียงของฟ้าผ่า แล้วเรานำมาเล่าต่อ “เราได้ยืนเสียงฟ้าผ่าเสียงดังมากเลย” ผู้ฟังก็รับรู้ว่าเราได้ยินเสียงฟ้าผ่า แต่ถ้าเราบอกว่า “เราได้ยินเสียงฟ้าผ่าดัง เปรี้ยง !” ผู้ฟังก็จะนึกถึงเสียงที่เคยได้ยินและทำความเข้าใจว่า คำว่า “เปรี้ยง !” แสดงว่าฟ้าผ่าดังมาก ๆ ผู้ฟังก็จะเข้าใจถึงความรู้สึกหรือสิ่งที่ของผู้เล่าต้องการจะสื่อได้ดีขึ้น</p>
										<p>&emsp;หรือถ้าบอกว่า “เราเสียใจมาก ๆ “ ผู้ฟังอาจจะรับรู้ว่าเราเสียใจมาก ๆ แต่ถ้าเราบอกว่า “เราเสียใจจนร้องไห้น้ำตาเป็นสายเลือด” ผู้ฟังก็จะเกิดมโนภาพว่าการที่น้ำตาไหลจนเป็นสายเลือดคือต้องร้องไห้เยอะมาก ๆ ผู้ฟังก็จะเข้าใจสิ่งที่ผู้เล่าต้องการจะสื่ออย่างลึกซึ้งมากยิ่งขึ้น</p>
										<p>&emsp;ดังนั้นอาจจะสรุปได้ว่า ภาพพจน์เป็นการใช้ถ้อยคำสำนวนโวหาร ที่ทำให้ผู้อ่านเกิดมโนภาพ ทำให้ผู้อ่านสามารถเข้าใจคุณสมบัติหรือลักษณะสิ่งนั้น ๆ มากยิ่งขึ้น มีจินตนาการคล้อยตามการถ่ายทอดอารมณ์ ช่วยให้ผู้อ่านมีความรู้สึกหรือเกิดความรู้สึกตรงตามเจตนาของผู้ส่งสาร ภาพพจน์จึงเป็นการเลือกใช้คำหรือกลุ่มคำต่าง ๆ เพื่อสื่อให้ผู้อ่านเห็นภาพอย่างชัดเจนลึกซึ้งขึ้นมาในใจและตรงตามความปรารถนาของผู้ส่งสาร</p>
										<p>โดยภาพพจน์ที่ปรากฏแบบฝึกชุดนี้ มีทั้งหมด 9 ภาพพจน์ ประกอบด้วย</p>
										<p>&emsp;&emsp;&emsp;1. อุปมา (Simile)</p>
										<p>&emsp;&emsp;&emsp;2. อุปลักษณ์ (Metaphor)</p>
										<p>&emsp;&emsp;&emsp;3. บุคคลวัตหรือบุคลาธิษฐาน (Personification)</p>
										<p>&emsp;&emsp;&emsp;4. อติพจน์ (Hyperbole)</p>
										<p>&emsp;&emsp;&emsp;5. อรรถวิภาษหรือปฏิพากย์ (Paradox)</p>
										<p>&emsp;&emsp;&emsp;6. วิภาษหรือปฏิวาทะหรือปฏิพจน์ (Oxymoron)​</p>
										<p>&emsp;&emsp;&emsp;7. สัทพจน์ (Onomatopoeia)</p>
										<p>&emsp;&emsp;&emsp;8. นามนัย (Metonymy)</p>
										<p>&emsp;&emsp;&emsp;9. สัญลักษณ์ (Symbol)</p>
									</div>
									<div class="tab-pane fade" id="list-learn1" role="tabpanel" aria-labelledby="list-learn1-list">
										<iframe width="800" height="455" src="https://www.youtube.com/embed/DGnwFsJnWsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										<div class="button-group-area text-right">
											<a href="/lesson01-1-3" class="genric-btn default">เข้าศึกษาใบงาน</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

    <!--================Footer Area =================-->
	<%- include('../../partials/footeruser.ejs'); -%>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>

