<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>แจ้งปัญหาการใช้งาน</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="button-group-area mt-40">
		<a href="/" class="genric-btn default circle">ย้อนกลับ</a>
	</div>
	<!--================Contact Area =================-->
        <section>
            <div class="container">
                <div class="comment-form">
					<h4>แจ้งปัญหาการใช้งาน</h4>
                        <form>
                            <div class="form-group form-inline">
                                  <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" class="form-control" id="firstname" placeholder="ชื่อ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ชื่อ'">
                                  </div>
                                  <div class="form-group col-lg-6 col-md-6">
                                    <input type="text" class="form-control" id="surname" placeholder="นามสกุล" onfocus="this.placeholder = ''" onblur="this.placeholder = 'นามสกุล'">
                                  </div>										
                                </div>
								<div class="form-group">
                                    <input type="text" class="form-control" id="student_id" placeholder="เลขประจำตัวนักเรียน" onfocus="this.placeholder = ''" onblur="this.placeholder = 'เลขประจำตัวนักเรียน'">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="หัวข้อ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'หัวข้อ'">
                                </div>
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="customFile">
										<label class="custom-file-label" for="customFile">เลือกไฟล์รูปภาพ(ถ้ามี)</label>
									</div>
								</div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="เนื้อหาที่ต้องการแจ้ง" onfocus="this.placeholder = ''" onblur="this.placeholder = 'เนื้อหาที่ต้องการแจ้ง'" required=""></textarea>
                                </div>
                                <a href="#" class="primary-btn primary_btn">ส่งข้อมูล</a>	
                            </form>
                        </div>
            </div>
        </section>
        <!--================Contact Area =================-->


    <!--================Footer Area =================-->
	<footer class="footer_area section_gap_top">
		<div class="container">
			<div class="row single-footer-widget">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="copy_right_text">
						<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="social_widget">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
