<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>แจ้งปัญหาการใช้งาน</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
	<style>
		.main {
			background-image: url('img/mw/edu-bg-2.jpg');
			background-size: cover;
		}
	</style>
</head>

<body>
	<div class="button-group-area mt-40">
		<a href="/" class="genric-btn default circle">ย้อนกลับ</a>
	</div>
	<hr>
	<!--================Contact Area =================-->
    <section class="main">
        <div class="container">
			<br>
			<div class="comment-form">
				<h4>แจ้งปัญหาการใช้งาน</h4>
                <form action="sendreport" method="post">
                    <div class="form-group form-inline">
						<div class="form-group col-lg-6 col-md-6 name">
							<input type="text" class="form-control" name="firstname" placeholder="ชื่อ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ชื่อ'">
						</div>
                        <div class="form-group col-lg-6 col-md-6">
	                        <input type="text" class="form-control" name="surname" placeholder="นามสกุล" onfocus="this.placeholder = ''" onblur="this.placeholder = 'นามสกุล'">
                        </div>										
                    </div>
					<div class="form-group">
                        <input type="text" class="form-control" name="topic" placeholder="หัวข้อ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'หัวข้อ'">
                    </div>
					<div class="form-group">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="custom_file" name="custom_file">
							<label class="custom-file-label" for="custom_file">เลือกไฟล์รูปภาพ(ถ้ามี)</label>
						</div>
					</div>
                    <div class="form-group">
                        <textarea class="form-control mb-10" rows="5" name="detail" placeholder="เนื้อหาที่ต้องการแจ้ง" onfocus="this.placeholder = ''" onblur="this.placeholder = 'เนื้อหาที่ต้องการแจ้ง'" required=""></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary my-1">แจ้งปัญหา</button>	
                </form>
            </div>
			<br>
        </div>
    </section>
    <!--================Contact Area =================-->

    <!--================Footer Area =================-->
	<%- include('partials/footermenu.ejs'); -%>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
