<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>ตรวจสอบสถานะ</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<a href="/logout" class="genric-btn default circle">ย้อนกลับ</a>
		<span>Home</span>
		<h4>ชื่อ-สกุล : <%= sess.name %></h4>
		<h4>รหัสประจำตัวนักเรียน : <%= sess.student_number %></h4>
		<a href="/logout" class="genric-btn danger circle">ออกจากระบบ</a>
	</nav>
	<br>
	<!--================Contact Area =================-->
        <section>
            <div class="container text-center">
				<h3>ตรวจสอบผลการเรียน</h3>
			</div>
			<div class="container">
				<table id="result" class="table-border">
					<thead>
						<tr>
							<th scope="col">บทที่</th>
							<th scope="col">เสริมครั้งที่ 1</th>
							<th scope="col">เสริมครั้งที่ 2</th>
							<th scope="col">เสริมครั้งที่ 3</th>
							<th scope="col">เสริมครั้งที่ 4</th>
							<th scope="col">คะแนนแบบทดสอบ</th>
							<th scope="col">คะแนนใบงาน</th>
							<th scope="col">ผลการประเมิน</th>
						</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>9</td>
						<td>10</td>
						<td>ผ่าน</td>
					</tr>
					<tr>
						<td>2</td>
						<td>ผ่าน</td>
						<td>ผ่าน</td>
						<td>-</td>
						<td>-</td>
						<td>8</td>
						<td>7</td>
						<td>ผ่าน</td>
					</tr>
					<tr>
						<td>3</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>4</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>5</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>6</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>7</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>8</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>9</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>10</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td colspan="8"></td>
					</tr>
					<tr>
						<td class="table-danger" colspan="2">คะแนนก่อนเรียน</td>
						<td colspan="2">27</td>
						<td class="table-danger" colspan="2">คะแนนหลังเรียน</td>
						<td colspan="2">-</td>
					</tr>
					<tr>
						<td class="table-warning" colspan="7">แบบสำรวจความพึงพอใจ</td>
						<td>ยังไม่ได้ทำแบบสำรวจ</td>
					</tr>
					<tr>
						<td class="table-success" colspan="7">ผลการประเมินเรื่องภาพพจน์ในวรรณคดีไทย</td>
						<td>ยังไม่ผ่าน</td>
					</tr>
				</tbody>
			</table>
			<div class="button-group-area mt-40 text-right">
				<a data-toggle="modal" href="#myModal" class="genric-btn info circle">เข้าสู่บทเรียน</a>
			</div>
		</div>
	</section>
    <!--================Contact Area =================-->
	<br>
	<div class="modal hide fade" id="myModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">ข้อความจากอาจารย์</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<!--img src="img/sticker/Talk/01.png" alt=""-->
					<script type="text/javascript">
                        var random_images_array = ["01.png", "02.png", "03.png", "04.png", "05.png", "06.png", "07.png"];

                        function getRandomImage(imgAr, path) {
                            path = path || 'images/'; // default path here
                            var num = Math.floor(Math.random() * imgAr.length);
                            var img = imgAr[num];
                            var imgStr = '<img style="height:200px;width:200px;" src="' + path + img + '" alt="">';
                            document.write(imgStr); document.close();
						}

                        getRandomImage(random_images_array, "img/sticker/Talk/");
                    </script>
					<p>พร้อมเข้าสู่บทเรียนแล้วหรือยัง ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
					<a class="btn btn-primary" href="/selectlesson" role="button">เข้าสู่บทเรียน</a>
				</div>
			</div>
		</div>
	</div>
    <!--================Footer Area =================-->
	<footer class="footer_area section_gap_top">
		<div class="container">
			<div class="row single-footer-widget">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="copy_right_text">
						<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="social_widget">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!--================End Footer Area =================-->
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
